<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <nlog>
    <targets>
      <target name="file" type="File" fileName="Log.log" layout="${longdate} [${level}] (${threadid})${logger} - ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  
  <modules>
    <module assemblyFile="WPF.Framework.AuthenticationModule.dll" moduleType="WPF.Framework.AuthenticationModule.Module, WPF.Framework.AuthenticationModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AuthenticationModule" startupLoaded="true" />
    <module assemblyFile="WPF.Framework.Module1.dll" moduleType="WPF.Framework.Module1.Module, WPF.Framework.Module1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module1" startupLoaded="true" />
    <!--<module assemblyFile="WPF.Framework.Module2.dll" moduleType="WPF.Framework.Module1.Module, WPF.Framework.Module2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module2" startupLoaded="false">
      <dependencies>
        <dependency moduleName="Module1"/>
      </dependencies>
    </module>-->
  </modules>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
